@font-face{
    font-family: Proxima Nova-Regular;
    src: url(fonts/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face{
    font-family: Proxima Nova-Thin;
    src: url(fonts/proxima_ssv/Proxima\ Nova\ Thin.otf);
}

@font-face{
    font-family: Proxima Nova-Bold;
    src: url(fonts/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom_container{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

h2{
    font-family: Proxima Nova-Bold, sans-serif;
    font-size: 40px;
    max-width: 555px;
    margin-bottom: 42px;
}

.sub-nav{
    background-color: #272634;
}

.sub-nav .custom_container{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 16px;
    height: 42px;
    padding-inline: 40px;
    font-family: Proxima Nova-Thin, sans-serif;
}

.sub-nav p{
    color: white;
}

.sub-nav span{
    margin-left: 230px;
}

.sub-nav span img{
    margin-right: 12px;
}

.sub-nav span a{
    color: #05AAE1;
    text-decoration: none;
}

.sub-nav span{
    display: flex;
    align-items: center;
}

.sub-nav button{
    background-color: transparent;
    color: white;
    height: 36px;
    width: 120px;
    border: 1px solid #05AAE1;
    font-size: 16px;
    margin-left: 64px;
    font-family: Proxima Nova-Thin, sans-serif;
}

.main-nav{
    background-color: #1D1F21;
}

.main-nav .custom_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding-right: 40px;
    padding-left: 32px;
    font-family: Proxima Nova-Bold, sans-serif;
}

.main-nav .menu{
    display: flex;
    color: white;
    margin-left: 182px;
    list-style: none;
}

.main-nav .menu li{
    display: flex;
    align-items: center;
    margin-right: 41px;
}

.main-nav .menu a{
    color: white;
    text-decoration: none;
}

.main-nav .menu li .arrow-down{
    margin-left: 10px;
}

.main-nav button{
    background-color: #05AAE1;
    color: white;
    border: none;
    border-radius: 2px;
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-family: Proxima Nova-Bold, sans-serif;
    margin-left: 20px;
}

.hero{
    background-image: url('images/financing_101_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.hero .custom_container{
    padding: 125px 142px 160px;
}

.hero h1{
    font-family: Proxima Nova-Bold, sans-serif;
    font-size: 64px;
    width: 575px;
}

.hero p{
    font-family: Proxima Nova-Regular, sans-serif;
    font-size: 18px;
    width: 456px;
    margin-top: 5px;
}

div.funding_methods{
    background-color: #F8FAFF;
    font-family: Proxima Nova-Regular;
}

div.funding_methods .custom_container{
    padding: 80px 144px;
}
    /* accordion styles */
    .funding_methods .method, .faqs .question{
        background-color: white;
        box-shadow: 0px 5px 19px 0px rgba(11, 31, 39, 0.15);
        width: 678px;
        border-radius: 2px;
        margin-bottom: 16px;
        font-family: Proxima Nova-Thin, sans-serif;
    }

    .funding_methods .method .head, .faqs .question .head{
        display: flex;
        align-items: center;
        height: 130px;
        cursor: pointer;
    }

    .funding_methods .method .head .img_container{
        width: 166px;
        text-align: center;
    }

    .funding_methods .method .head h3{
        font-family: Proxima Nova-Regular, sans-serif;
        font-size: 22px;
        margin-bottom: 2px;
    }

    .funding_methods .method .head p{
        font-size: 18px;
        width: 448px;
    }

    .funding_methods .method .head .arrow-down, .faqs .question .head .arrow-down{
        width: 20px;
        transition: all ease-in-out .2s;
    }

    .funding_methods .method .head .rotate-arrow, .faqs .question .head .rotate-arrow{
        transform: rotate(180deg);
    }
    
    .funding_methods .method .body, .faqs .question .body{
        height: 0;
        padding-left: 45px;
        padding-right: 100px;
        padding-bottom: 0;
        overflow: hidden;
        transition: all ease-in-out .2s;
    }

    .funding_methods .method .display_body, .faqs .question .display_body{
        height: auto;
        padding-bottom: 45px;
        overflow: unset;
    }

    .funding_methods .method .body small{
        display: block;
        margin-top: 16px;
    }


div.savings{
    background-color: rgba(80, 81, 112, 1);
    color: white;
    position: relative;
}
    .savings .custom_container{
        padding: 70px 144px 40px;
    }

    .savings .breakdown{
        display: flex;
        gap: 32px;
        margin-left: 12px;
    }

    .savings .option{
        width: 130px;
    }

    .savings h2{
        max-width: 575px; 
    }

    .savings h3{
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 14px;
        margin-bottom: 14px;
        text-align: center;
    }

    .savings .price{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Proxima Nova-Bold;
        font-size: 14px;
        width: 130px;
        height: 41px;
        margin-bottom: 23px;
    }

    .savings .desc{
        font-size: 12px;
        font-family: sans-serif;
    }

    .savings .discounts{
        display: flex;
        gap: 4px;
    }

        .discounts .option .desc{
            padding-right: 15px;
        }

        .discounts .option:first-child .price{
            background-color: #05AAE1;
            border-radius: 24px 0 0 24px;
            position: relative;
        }

        .discounts .option:first-child .price::before{
            position: absolute;
            content: '';
            width: 50.5px;
            height: 50.5px;
            left: -8px;
            top: -5.5px;
            background-color: #05AAE1;
            border-radius: 50%;
        }

        .price{
            background: #05AAE14D;
            cursor: pointer;
        }

        .discounts .option:last-child .price{
            border-radius: 0 24px 24px 0;
        }

        .selected_discount::after{
            content: url('images/range_indicator.svg');
            position: absolute;
            right: -8px;
            top: -7px;
        }

    .savings .saved_amount{
        text-align: center;
    }

    .savings .saved_amount p{
        font-size: 18px;
        font-family: Proxima Nova-Thin;
    }

    .savings .saved_amount strong{
        font-size: 26px;
        font-family: Proxima Nova-Bold;
    }

    .savings .disclaimer{
        font-family: sans-serif;
        font-size: 10px;
        margin-top: 32px;
        max-width: 500px;
    }

    .savings .cat{
        position: absolute;
        bottom: -8px;
        left: 55%;
    }



.discuss_funding{
    width: 406px;
    height: 441px;
    background-color: white;
    box-shadow: 0px 6px 6px 0px rgba(11, 31, 39, 0.08);
    border-radius: 8px;
    position: fixed;
    top: 193px;
    left: 61.7%;
    padding: 51px 65px;

}

.discuss_funding h2{
    font-size: 40px;
    margin-bottom: 26px;
}

.discuss_funding p{
    font-family: Proxima Nova-Thin;
    margin-bottom: 40px;
    padding-right: 30px;
}

.discuss_funding button{
    width: 271px;
    height: 65px;
    background-color: #05AAE1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Proxima Nova-Regular;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: 0px 6px 6px 0px rgba(11, 31, 39, 0.08);
}


.fund_bootcamp .custom_container{
    padding: 70px 144px 40px;
}

.fund_bootcamp h2{
    margin-bottom: 60px;
}

.fund_bootcamp .info{
    display: flex;
    gap: 55px;
    max-width: 623px;
}

.fund_bootcamp .info p{
    max-width: 245px;
    font-family: Proxima Nova-Thin;
    font-size: 18px;
    line-height: 150%;
}

.fund_bootcamp .info table{
    font-family: Proxima Nova-Thin;
    font-size: 16px;
    border-collapse: collapse;
    position: relative;
    margin-top: 20px;
}

.fund_bootcamp .info table::before{
    content: 'Any Coding Dojo Program';
    font-family: Proxima Nova-Bold;
    width: 133px;
    text-align: center;
    position: absolute;
    right: 0;
    top: -55px;
}

.fund_bootcamp .info table .full{
    font-size: 12px;
}

.fund_bootcamp .info table tr{
    height: 62px;
}

.fund_bootcamp .info table tr td{
    padding-inline: 21px;
}

.fund_bootcamp .info table tr td span{
    width: 50px;
}

.fund_bootcamp .info table tr td:first-child{
    width: 57%;
}

.fund_bootcamp .info table tr td:last-child{
    text-align: center;
}

.fund_bootcamp .info table tr:nth-child(odd) td{
    background-color: rgba(196, 196, 196, 0.23);
}

.fund_bootcamp .info table tr:first-child td:first-child{
    border-radius: 8px 0 0 0;
}

.fund_bootcamp .info table tr:first-child td:last-child{
    border-radius: 0 8px 0 0;
}


.start_funding{
    background: rgba(80, 81, 112, 1);
    color: white;
}

.start_funding .custom_container{
    padding: 70px 144px 40px;
}

    .start_funding h3{
        font-family: Proxima Nova-Regular;
        margin-bottom: 7px;
    }

    .start_funding p{
        font-size: 18px;
        font-family: Proxima Nova-Thin;
        line-height: 27px;
        max-width: 612px;
    }

    .start_funding ul{
        margin-top: 55px;
        list-style: none;
    }

    .start_funding ul li{
        margin-bottom: 32px;
    }

    .start_funding ul li > div{
        display: inline-block;
        vertical-align: middle;
    }

    .start_funding ul li .desc{
        max-width: 400px;
    }

    .start_funding ul li .img_container{
        width: 191px;
        text-align: center;
        margin-right: 40px;
    }


.get_hired{
    background-color: rgba(248, 250, 255, 1);
    ;
}

.get_hired .custom_container{
    padding: 85px 144px 85px;
}

    .get_hired h2{
        max-width: 698px;
    }


.review .custom_container{
    padding: 70px 144px 70px;
}

    .review .custom_container > p{
        font-family: Proxima Nova-Regular;
        font-size: 31px;
        width: 646px;
        line-height: 37.76px;
        position: relative;
        margin-bottom: 25px;
    }

    .review .custom_container > p .quote-icon{
        position: absolute;
        left: 32%;
        bottom: -30%;
        z-index: -1;
    }

    .reviewer{
        display: flex;
    }

    .reviewer .rev_image{
        width: 49px;
        height: 56px;
        background-color: #C4C4C4;
        border-radius: 8px;
        margin-right: 20px;
    }

    .reviewer .rev_name{
        font-family: Proxima Nova-Bold;
        font-size: 19px;
    }

    .reviewer .desc{
        font-family: Proxima Nova-Thin;
        font-size: 16px;
    }


.faqs{
    background-color: rgba(248, 250, 255, 1);
}

.faqs .custom_container{
    padding: 70px 144px 40px;
}

    .faqs .custom_container h2{
        font-size: 32px;
    }

    .faqs .faqs_accordion{
        margin-bottom: 70px;
    }

    .faqs .question .head{
        justify-content: space-between;
        height: 90px;
    }

    .faqs .question .head h3{
        font-family: Proxima Nova-Regular;
        margin-left: 65px;
    }

    .faqs .question .head img{
        margin-right: 32px;
    }

    .faqs .question .body{
        padding-left: 65px;
    }


footer{
    background-color: #1E1E29;
}

footer .custom_container{
    padding: 70px 144px 65px;
    color: white;
}

footer .upper_footer{
    display: flex;
    justify-content: space-between;
}

footer .links_group{
    display: flex;
    gap: 38px;
    font-size: 14px;
}

footer .links_group nav{
    width: 152px;
}

footer .links_group .links{
    list-style: none;
}

footer .links_group h4{
    font-family: Proxima Nova-Regular;
    margin-bottom: 20px;
}

footer .links_group .links a{
    display: block;
}

footer a{
    font-family: Proxima Nova-Thin;
    color: white;
    margin-bottom: 7px;
    text-decoration: none;
}

.blue_link{
    color: #05AAE1;
}

.newsletter_form{
    width: 410px;
}

.newsletter_form p{
    font-family: Proxima Nova-Regular;
}

.newsletter_form input{
    border-radius: 8px;
    display: inline-block;
    border: 1px white solid;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 20px;
    padding: 15px 23px;
}

.newsletter_form input[type="text"]{
    background-color: white;
    font-family: Proxima Nova-Regular;
    margin-right: 9px;
    width: 285px;
}

.newsletter_form input[type="submit"]{
    background-color: transparent;
    color: white;
    font-family: Proxima Nova-Bold;
    width: 109px;
}

.newsletter_form small{
    display: block;
    font-family: Proxima Nova-Thin;
    font-size: 10px;
    line-height: 17px;
    padding-right: 2em;
}

footer hr{
    border: none;
    background-color: rgb(94, 94, 94);
    height: 1px;
    margin-top: 45px;
    margin-bottom: 32px;
}

.lower_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower_footer .contact{
    font-family: Proxima Nova-Thin;
    font-size: 20px;
}

.lower_footer .contact .number strong{
    font-family: Proxima Nova-Regular;
}

.lower_footer .contact .time{
    font-size: 16px;
}

.lower_footer .contact .time a{
    font-family: Proxima Nova-Regular;
    text-decoration: underline;
}

.lower_footer .languages{
    font-size: 12px;
    margin-right: 270px;
    text-transform: uppercase;
}

.lower_footer .languages span{
    font-family: Proxima Nova-Bold;
    margin-right: 15px;
}

.lower_footer .languages .english{
    font-family: Proxima Nova-Regular;
    margin-right: 15px;
}

.lower_footer .languages .chinese{
    color: rgb(197, 197, 197);
}